<div class="floating-container-blue text-center">
    <div class="health-tip-container">
        <h1><%= @health_tip.title %></h1>
        <h3>Category: <%= @health_tip.category %></h3>
        <p id="health-tip-content"><%= @health_tip.content %></p>
    </div>


    <h3><%= pluralize(@health_tip.comments_count, "Comment") %></h3>
    <%= link_to "See Comments", health_tip_comments_path(@health_tip) %>
    
</div>