<div class="container text-center">
    <h1><%= @health_tip.title %></h1>
    <h3>Category: <%= @health_tip.category %></h3>
    <p><%= @health_tip.content %></p>
    <h3><%= pluralize(@health_tip.comments_count, "Comment") %></h3>
    <div class="comment-container">
        <% @health_tip.comments.each do |comment| %>
        <div class="comment">
            <h4><%= comment.user.name %></h4>
            <p><%= comment.content %></p>
            <p><%= pluralize(comment.reply_count, "reply") %></p>
            <p><%= link_to "Reply to comment", comment_path(comment) %></p>
        </div> 
        <% end %>
        <%= render 'comment_form' %>
    </div>
</div>