<div class="container text-center">
    <h1><%= @health_tip.title %></h1>
    <h3>Category: <%= @health_tip.category %></h3>
    <p><%= @health_tip.content %></p>
    <h3><%= pluralize(@health_tip.comments_count, "Comment") %></h3>
    <div class="comment-container">
        <% @health_tip.comments.each do |comment| %>
        <div class="comment">
            <h4><%= comment.user.name %></h4>
            <p><%= comment.content %></p>
        </div> 
        <% end %>
        <%= form_tag health_tip_comments_path(@health_tip) do %>
            <h3>Comment Form:</h3>
            <%= hidden_field_tag 'comment[user_id]', "#{current_user.id}" %>
            <%= hidden_field_tag 'comment[health_tip_id]', "#{@health_tip.id}" %>
            <label for="comment[content]">Content:</label>
            <%= text_field_tag "comment[content]" %>
            <br>
            <br>
            <%= submit_tag "Add Comment" %>
        <% end %>
    </div>
</div>