<%= form_tag health_tip_comments_path(@health_tip) do %>
    <h3>Comment Form:</h3>
    <%= hidden_field_tag 'comment[user_id]', "#{current_user.id}" %>
    <%= hidden_field_tag 'comment[health_tip_id]', "#{@health_tip.id}" %>
    <label for="comment[content]">Content:</label>
    <%= text_area_tag "comment[content]" %>
    <br>
    <br>
    <%= submit_tag "Add Comment" %>
<% end %>