<div class="container text-center">
    
    <div class="login-container">
        <% if flash[:alert] %>
            <p><%= flash[:alert] %></p>
        <% end %>
        <h1>Login</h1>
        <%= form_tag do %>
            <label for="user_login[email]">Email</label>
            <%= text_field_tag "user_login[email]" %>
            <br><br>
            <label for="user_login[password]">Password</label>
            <%= password_field_tag "user_login[password]" %>
            <br><br>
            <%= submit_tag "Login" %>
        <% end %>
    </div>
    
</div>